@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font sizes */
/* Tamaños */
/* Colores */
/* Tipografías */
@font-face {
  font-family: "lato-black";
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "lato-italic";
  src: url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "lato-regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "golden";
  src: url("../fonts/GOLDEN.otf");
}
/* Cabecera */
header.cabecera {
  position: relative;
  width: 100%;
  height: 700px;
  background: rgb(189, 189, 189);
  background: linear-gradient(90deg, #847996 0%, #7a90ad 0%, #F4ECD6 48%, #995783 100%);
  background-size: 400% 100%;
  animation: gradient-cabecera 20s ease-in-out infinite;
  position: px;
}
header.cabecera div.row {
  width: 100%;
}
header.cabecera h1 {
  font-family: "golden";
}
header.cabecera h1.display-5 {
  font-family: "lato-regular";
  text-transform: uppercase;
}
header.cabecera p {
  font-family: "lato-italic";
}

@keyframes gradient-cabecera {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Estilos de links y elementos generales*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: "lato-regular";
  background-color: rgba(243, 237, 255, 0.9058823529);
  color: #310A31;
}

.imagen {
  border: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease, transform 0.3s ease;
}

.imagen:hover {
  transform: scale(1.02);
  transition: 0.5s;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.295);
  border: 5px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(49, 10, 49, 0.2745098039);
  background-size: cover;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  /* .enlaces-navbar{
      margin-right: 20%;
  } */
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar ul li {
  margin: 5px;
  background-color: rgba(132, 121, 150, 0);
  list-style: none;
  font-size: 20px;
}
.navbar ul li a {
  color: #310A31;
}
.navbar ul li .logo-img {
  width: 50px;
  height: 50px;
}
.navbar ul li a.a-contacto {
  display: inline-flex;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  background: #310A31;
  color: #ffffff;
  border-radius: 8px;
}
.navbar ul li a.a-contacto:hover {
  background-color: rgba(243, 237, 255, 0.3019607843);
  color: #310A31;
  border-radius: 5px;
  transition: 0.3s;
  scale: 1.04;
}
.navbar ul li .enlaces:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: rgba(243, 237, 255, 0.0823529412);
  border-radius: 5px;
  transition: 0.3s;
}

.custom-1-btn-color {
  background-color: rgba(49, 10, 49, 0);
  border-color: #310A31;
  color: #49c04f;
  border-color: rgba(49, 10, 49, 0.5058823529);
  border-radius: 10px;
}
.custom-1-btn-color:hover {
  background-color: #847996;
  border-color: #310A31;
}

.btn {
  color: #310a31;
}

/* Listas enlaces Contacto */
div div ul li {
  margin: 2%;
  list-style: none;
}

/* Mixins en card */
div.card-1 {
  border: 2.5px solid;
  border-radius: 10px;
  border-image: linear-gradient(to left bottom, #6200ff 0%, #7a90ad 0%, #F4ECD6 48%, #995783 100%);
  border-image-slice: 1;
  color: #310A31;
}

/* Scroll barra de navegacion */
html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 130px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(49, 10, 49, 0.5333333333);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(49, 10, 49, 0.8705882353);
}

/* Botón subir al top */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 2rem;
  color: rgba(49, 10, 49, 0.662745098);
  background-color: rgba(39, 0, 90, 0);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition: background-color 0.3s;
  opacity: 100%;
}
.scroll-to-top-btn:hover {
  color: #f3edff;
  background-color: #310A31;
}

.scroll-to-top-btn i {
  position: relative;
  top: 0px;
}

/* Footer */
footer {
  background-color: rgba(49, 10, 49, 0.2117647059);
  color: #696969;
  max-width: 100%;
  color: #310A31;
}
footer div.col i {
  color: #310A31;
  width: 50%;
  height: 50%;
  transition: scale 0.2s ease, transform 0.2s ease, color 0.2s ease;
}
footer div.col:hover {
  scale: 1.1;
  transform: translate(0px, -2px);
  color: #8348b9;
  transition: 0.2s;
}

/* Mediaqueries */
@media (max-width: 2000px) {
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 16px;
  }
  .enlaces-navbar {
    margin-right: 20%;
    margin-bottom: 0;
  }
}
/* Mediaqueries para tablets */
@media (max-width: 992px) {
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 16px;
  }
  .enlaces-navbar {
    margin-right: 0;
    margin-bottom: 5%;
  }
}
/* Mediaqueries para dispositivos móviles */
@media (max-width: 576px) {
  .card-body {
    padding: 10px;
  }
  .card-title {
    font-size: 20px;
    margin: 20px;
  }
  .card-text {
    font-size: 14px;
    margin: 20px;
  }
  .btn {
    margin: 20px;
  }
  .enlaces-navbar {
    margin-right: 0;
    margin-bottom: 5%;
  }
}
.title-1 {
  font-size: 1rem;
}

.title-2 {
  font-size: 2rem;
}

.title-3 {
  font-size: 3rem;
}

.title-4 {
  font-size: 4rem;
}

.title-5 {
  font-size: 5rem;
}

.title-6 {
  font-size: 6rem;
}

/*# sourceMappingURL=style.css.map */
