@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

/* Tipografías */

@font-face {
    font-family: 'lato-black';
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'lato-italic';
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'golden';
    src: url('../fonts/GOLDEN.otf');
}

/* Cabecera */

header.cabecera {
    position: relative;
    width: $anchoMax;
    height: 700px;
    background: rgb(189, 189, 189);
    background: linear-gradient(90deg, #847996 0%, #7a90ad 0%, #F4ECD6 48%, #995783 100%);
    background-size: 400% 100%;
    animation: gradient-cabecera 20s ease-in-out infinite;
    position: px;

    div.row {
        width: $anchoMax;
    }

    h1 {
        font-family: 'golden';
    }

    h1.display-5 {
        font-family: 'lato-regular';
        text-transform: uppercase;
    }

    p {
        font-family: 'lato-italic';
    }
}

@keyframes gradient-cabecera {
    0% {
        background-position: $anchoMin $anchoMed;
    }

    50% {
        background-position: $anchoMax $anchoMed;
    }

    100% {
        background-position: $anchoMin $anchoMed;
    }
}

/* Estilos de links y elementos generales*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    font-family: 'lato-regular';
    background-color: #f3edffe7;
    color: #310A31;
}

.imagen{
    border: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, transform 0.3s ease;
}

.imagen:hover { transform: scale(1.02);
                transition: 0.5s;
                box-shadow: 0 0 18px rgba(0, 0, 0, 0.295);
                border: 5px;
                
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: $anchoMax;
    background-color: #310a3146;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
            margin: 5px;
            background-color: #84799600;
            list-style: none;
            font-size: 20px;

            a {
                color: #310A31;
            }

            .logo-img {
                width: 50px;
                height: 50px;
              }
            
            a.a-contacto {
                display: inline-flex;
                height: 2.5rem;
                padding: 0.5rem 1rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                flex-shrink: 0;
                background: #310A31;
                color: #ffffff;
                border-radius: 8px;

                &:hover {
                    background-color: #f3edff4d;
                    color: #310A31;
                    border-radius: 5px;
                    transition: 0.3s;
                    scale: (1.04);
                }
            }

            .enlaces:hover {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 2.5rem;
                background-color: #f3edff15;
                border-radius: 5px;
                transition: 0.3s;
            }
        }
    }
}

.custom-1-btn-color {
    background-color: #310a3100;
    border-color: $colorPrincipal;
    color: #49c04f;
    border-color: #310a3181;
    border-radius: 10px;

    &:hover {
        background-color: #847996;
        border-color: #310A31;
    }

}

.btn{
    color: #310a31;
    
}

/* Listas enlaces Contacto */
div {
    div {
        ul {
            li {
                margin: 2%;
                list-style: none;
            }
        }
    }
}

/* Mixins en card */
div.card-1 {
    @include card-con-borde;
}

/* Scroll barra de navegacion */

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 130px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #310a3188;
    border-radius: 30px;

    &:hover {
        background-color: #310a31de;
    }
}

/* Botón subir al top */

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 2rem;
    color: #310a31a9;
    background-color: #27005a00;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: background-color 0.3s;
    opacity: 100%;
    &:hover {
        color: #f3edff;
        background-color: #310A31;
    }
}

.scroll-to-top-btn i {
    position: relative;
    top: 0px;
}


/* Footer */
footer {
    background-color: #310a3136;
    color: #696969;
    max-width: $anchoMax;
    color: $colorPrincipal;

    div.col {
        i {
            color: $colorPrincipal;
            width: 50%;
            height: 50%;
            transition: scale 0.2s ease, transform 0.2s ease, color 0.2s ease;
        }

        &:hover {
            scale: (1.1);
            transform: translate(0px, -2px);
            color: #8348b9;
            transition: 0.2s;
        }
    }
}

/* Mediaqueries */
@media (max-width: 2000px) {
    %card-body {
        padding: 20px;
        color: $colorPrincipal;
    }

    .card-title {
        @extend %card-body;
        font-size: 24px;
        padding: 0;
    }

    .card-text {
        font-size: 16px;
    }

    .enlaces-navbar{
        margin-right: 20%;
        margin-bottom: 0;
    }

    .titulo-principal{
        font-size: 35px;
    }
}

/* Mediaqueries para tablets */
@media (max-width: 992px) {
    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-text {
        font-size: 16px;
    }

    .enlaces-navbar{
        margin-right: 0;
        margin-bottom: 5%;
    }
    .titulo-principal{
        font-size: 30px;
    }
}

/* Mediaqueries para dispositivos móviles */
@media (max-width: 576px) {
    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 20px;
        margin-left: 10px;
    }

    .card-text {
        font-size: 14px;
        margin: 10px;
        padding: 0;
    }

    .btn {
        margin: 20px
    }

    .enlaces-navbar{
        margin-right: 0;
        margin-bottom: 5%;
    }
    .titulo-principal{
        font-size: 25px;
    }
}

@import "partials/bucles";